<link rel="stylesheet" href="/css/confirm.css">
<header>
    <h1>
    <a href="https://habbittracker123.up.railway.app">home page</a>
</h1>
</header>

<h1>your password is succesfuly reset please  <a href="https://habbittracker123.up.railway.app">click here</a></h1>
